@font-face {

font-family: 'Open Sans', sans-serif;


}

body {	color:#555;	font:normal 13px/22px Open Sans;	background: #FFFF;}

h1,h2,h3,h4,h5,h6 { font-weight:normal; font-family: Open Sans;margin: 0;padOpen Sansg: 0;color: #000}
h1{font-size: 60px; margin-bottom: 25px;color: #fff;}
h2{font-size: 35px; letter-spacing: -1px;margin-bottom: 20px;}
h3{margin: 0 0 15px 0; font-size: 25px;}
h4{margin: 10px 0; font-size: 19px;}
h5{margin: 0 0 5px 0; font-size: 17px;}
h6{margin: 0 0 10px 0; font-size: 14px;}

h4 span{margin-right: 5px; font-size: 15px;}
h6 span{margin-right: 5px; font-size: 12px;}


a{color:#72b70f; text-decoration:none;outline: none;}
a:hover{color:#333;}
.spacer{margin-top: 40px;margin-bottom:40px;}
.center{text-align: center;}
.fullwidth{width: 100%;}
select,input{outline: 0; margin-bottom: 20px;}
a.more{background-color: #222; padOpen Sansg: 2px 6px;color: #fff; text-transform: uppercase; font-size: 11px;}
a.more:hover{background: #64a30a;text-decoration: none;}

table{background-color: #fff;font-size: 15px;text-align: center;}

.btn{border-radius: 5px; font-family: Open Sans; outline: none;}
.btn-success{ background: #72b70f;border:1px solid #72b70f;padOpen Sansg:6px 20px; width: 100%; font-family: 'Bariol_Regular'; font-size: 15px; border-radius: 5px;}
.btn-primary{ background: #64a30a;border:none;width: 100%;border-radius: 20px;}
.btn-info{background: #333;border:4px solid #ddd;padOpen Sansg: 3px 20px; font-size:20px; border-radius: 20px;  }
.btn-danger{font-family: 'Bariol_Regular'; font-size: 15px; border-radius: 5px;}
.thumbnail{ background-color:#fff;}

.header {padOpen Sansg: 20px 0;}
.header ul{list-style: none;margin: 0; padOpen Sansg: 0;margin-top: 25px;}
.header ul li{ display: inline-block; padOpen Sansg: 0 0 0 40px;}
.header ul li a{ font-size: 19px;font-family: Open Sans;text-transform: uppercase;}
.header ul li a:hover{text-decoration: none;}

.navbar-inverse{background-color: #111;}
.navbar-inverse .navbar-nav > li > a{font-size: 11px;padOpen Sansg-top: 10px;padOpen Sansg-bottom: 10px;font-family: Open Sans;text-transform: uppercase;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color: #72b70f;}

.banner-search{background:url(../img/bginside.jpg) #111;color: #fff;padding: 20px 0 10px 0; font-size: 16px;}


.properties-listing .viewall{margin-top: 15px;}
.properties-listing div.properties{padOpen Sansg: 10px; background-color: #fff;text-align: center; margin-bottom: 20px;}
.owl-wrapper-outer div.properties{margin: 0 5px;}
.properties-listing div.properties .image-holder{position: relative;}
.properties-listing div.properties .status{position: absolute;bottom: 0;z-index: 100;display: block;width: 100%;color: #fff;text-align: center; font-size: 20px;height: 20%}
.properties-listing div.properties p{margin-bottom: 10px; font-size: 14px;border-bottom: 1px solid #ddd;font-family: Open Sans;}
.properties-listing div.properties p.price{padding: 5px 0; font-size: 16px; font-weight: bold;}
.properties-listing div.properties p.price-rent{padding: 5px 0; font-size: 18px; font-weight: bold;}
.properties-listing div.properties p.price-red{padding: 5px 0; font-size: 16px; font-weight: bold;color:#64a30a  }
.listing-detail{margin-bottom: 10px;}
.listing-detail span{color: #fff; width: 25px; height: 25px; background-color: #555;display: inline-block;border-radius:25px; text-align: center;line-height: 26px; font-size: 14px;cursor: crosshair;}
.listing-detail span:hover{background: #72b70f;}
p.phone {text-align: center;font-size: 22px;font-weight: bold;color: #64a30a}

.status.sold{background:red; opacity: 0.7}
.status.order{background:#8B814C; opacity: 0.9}


.recommended{position: relative;}
.recommended .carousel-indicators{position: absolute;text-align: left;left: 0;bottom: -40px;margin: 0;}
.recommended .carousel-indicators li{border: 1px solid #888;}
.recommended .carousel-indicators .active{background-color:#ccc; }
.recommended p{margin: 5px 0 10px 0;}


.modal-content{padding: 20px;}
.login .form-group input{padding: 20px; height: 50px;}

.register input{padding: 10px; height: 50px;}
.contact input{padding: 10px; height: 50px;}
.register input,.register textarea,.contact input,.contact textarea{ margin-bottom: 15px;}
.login button,.register button,.contact button{width: 100%;border-radius: 5px;}

/*inside*/
.inside-banner{background:url(../img/bginside.jpg) #222;color: #fff; padding: 10px 0;}
.inside-banner h2{margin: 0; color: #fff;}
.inside-banner span{margin-top: 10px;}

.search-form {margin-bottom: 50px;}
.search-form h4{margin: 17px 0;}


.hot-properties {margin-bottom: 50px;}
.hot-properties img{width: 68px; height: 68px;}
.hot-properties h4{margin-bottom: 20px;}
.hot-properties .row{margin-bottom: 20px;}
.hot-properties .row p{margin-bottom: 5px;}

.sortby .result{margin-top: 10px; margin-bottom: 10px;}

.property-info{margin:0 0 10px 0;}
.property-info span{margin-right: 5px;}
.property-info p{margin-bottom:10px; }
.property-info p.price{font-size: 28px;color: #72b70f;padding:0;border-radius: 5px;}
.property-info .profile{margin-top: 30px;}
.property-info .profile p{padding-left: 20px; color: #999;}

.enquiry input,.enquiry textarea{margin-bottom: 10px;}
.enquiry button{border-radius: 5px;}

.blog .info{color: #999;margin-bottom: 10px;font-size: 12px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color: #72b70f;border-radius: 0;color: #fff;border: none;}
.blog .tabbable .tab-content ul li{margin: 15px 0;}
.blog .row{margin-bottom: 50px;}

.agents .row{margin-bottom:40px; }
.agents .row h4{margin: 0;}



/*footer*/
.footer{background:url(../img/bg.jpg) #222; color: #999;} 
.footer h4{color: #fff;border-bottom: 2px solid #131313;margin-bottom: 10px;padOpen Sansg-bottom: 10px;}
.footer ul{list-style: none;padding: 0; }
.footer a:hover{color: #fff;}
.footer p.copyright{margin: 30px 0 0 0;}


@media (max-width: 600px) {
.header{text-align: center;}
.header ul{width: 100%;margin-bottom: 20px;}
.header ul li{padding: 0 20px;}
h1{font-size: 40px;}
h2{font-size: 25px;}
.login {margin-bottom: 40px;}
.searchbar button{margin-bottom: 40px;}
.footer .col-sm-3{margin-bottom: 30px;}
.agents img{ margin-bottom: 20px;}
}
@font-face{
	font-family: 'Bariol_Regular';
	src:url('../fonts/Bariol_Regular.ttf');
}

@font-face{
	font-family: 'Bariol_Regular_Italic';
	src:url('../fonts/Bariol_Regular_Italic.ttf');
}

@font-face{
	font-family: 'Orbitron-Regular';
	src:url('../fonts/Orbitron/Orbitron-Regular.ttf');
}

/*Header*/
.Header{
	background-color: #FFFFFF;
	height: 100px;
	position: relative;
	z-index: 20;
}

.Header-content{
	background-color: #ffffff;
}

.navbar-default{
	background-color: #ffffff !important;
	border-color: #ffffff;
}

.navbar-default .navbar-nav > li > a{
	font-family: 'Bariol_Regular';
	font-weight: bold;
	color: #000;
	background-color: #ffffff;
	font-size: 15px;

}

.navbar-default .navbar-nav > li > a.active{
	color: gold;
}

.navbar-default .navbar-nav > li > a:hover{
	color: gold;
}

.navbar-default .navbar-collapse{
	border:0;
	width: 100%;
	 position: absolute;
}

a, a:hover{
	text-decoration: none;
}

.navbar-header a{
	font-family: 'Orbitron-Regular';
	font-size: 30px;
}

.navbar-toggle{
	position: relative;
	top: 20px;
	left: 30px;
	background-color: white;
}

.logo1{
	position: relative;
	top: 26px;
	width: 166px;
}

.logo2{
	position: absolute;
	left: 59px;
	top: 12px;
	font-weight: bold;
}

.logo2 a:hover{
	color: gold;
}

.logo2 a{
	color: #000;
}

.logo1 span:nth-child(n+3) a{
	position: absolute;
	color: #000;
	font-size: 16px;
	width: 220px;
	height: 20px;
	display: block;
}

.logo1 span:nth-child(n+3) a:hover{
	color: gold;
}

.logo3 {
	position: relative;
	top: 5px;
	left: 30px;
}

.navbar-default .navbar-nav > li {
	position: relative;
	top: 25px;
}
.btn-header {
	margin-left: 10px;
	margin-top:  7px;
}
/*End Header*/
.form-control {
	font-size: 16px;
}
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.overlay-sold {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#D3D3D3;
  overflow: hidden;
  width: 100%;
  height: 20%;
  transition: .5s ease;
  opacity: 0.8;
  color: #3c3c3c;
  
  font-weight: bold;
}
.overlay-order {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #D3D3D3;
  overflow: hidden;
  width: 100%;
  height: 20%;
  transition: .5s ease;
  opacity: 0.8;
  color: #3c3c3c;
  font-weight: bold;
}
.overlay-price {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#D3D3D3;
  overflow: hidden;
  width: 100%;
  height: 20%;
  transition: .5s ease;
  opacity: 0.8;
  color:#3c3c3c
}
.properties:hover .overlay-sold {
  height: 100%;
}
.properties:hover .overlay-order {
  height: 100%;
}
.properties:hover .overlay-price {
  height: 100%;
}
.text {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.btn-detail{ background: #3c3c3c;border:1px solid #3c3c3c;width: 100%;border-radius: 2px;margin-top: 10px;color:#FFD700}
.btn-detail:hover{ background: #fff;border:1px solid #3c3c3c;width: 100%;border-radius: 2px;margin-top: 10px;color: #272727}
.btn-detail:focus{ background: #3c3c3c;border:1px solid #3c3c3c;width: 100%;border-radius: 2px;margin-top: 10px;color:#FFD700}
.btn-basic{ background: #BBBBBB;border:1px solid #AAAAAA;width: 100%;border-radius: 2px;margin-top: 10px;color:#000}
.btn-basic:hover{ background: #fff;border:1px solid #AAAAAA;width: 100%;border-radius: 2px;margin-top: 10px;color: #272727}
.btn-basic:focus{ background: #BBBBBB;border:1px solid #AAAAAA;width: 100%;border-radius: 2px;margin-top: 10px;color:#000}
.sub-menu {
  display: none;
  position: absolute;
  background-color: white;
   font-family: 'Bariol_Regular';
    font-weight: bold;
    color: #000;
    background-color: #ffffff;
    font-size: 15px;
    width: 200px;
    padding: 10px 15px;
   list-style: none;
   padding-top: 20px;
   margin-left: 15px;
   padding-bottom: 20px;
   box-shadow: 2px 2px 2px grey;
}
.nav>li:hover .sub-menu {
  display: block;
}
.sub-menu li {
  margin-left: 0 !important;
}
.sub-menu>li>a {
	color: black;
	line-height: 20px;
	padding: 15px;
}
.sub-menu>li>a:hover {
	color: gold;
}
/*==Menu cáº¥p 3==*/
.sub-menu > ul {
  display: none !mportant;
}
hr { 
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.lease
{
	width: 30%;
}
.lease-input
{
	width: 80.5%;
	font-size: 15px;
}
.lease-label
{
	font-size: 18px;
	padding-top: 15px;
	height: 50px;
}
.lease-select
{
	width: 60%;
	height: 50px;
}
.lease-select-sub
{
  width: 40%;
  height: 50px;
}
.margin-lable
{
	margin-right: -5px;
}
.vip-2
{
  color: #b39700;
  text-transform: uppercase;
}
.list-group
{
  font-size: 15px;
}
.list-group p
{
  margin-bottom: 5px;
}
.title
{
  text-transform: uppercase;
}
.panel-default > .panel-heading {
    color: #ffffff;
    background-color: #3c3c3c;
    border-color: #dddddd;
}
.sub
{
  margin-bottom: 10px;
  color: red;
}
.thongtin
{
  font-size: 15px;
}
.thongtin p
{
  margin-bottom: 10px;
}
.control-label-form
{
  font-size: 15px;
  padding-top: 5px;
}
.vip1
{
  color: red;
  text-transform: uppercase;
}
.vip2
{
  color: #EE7621;
  text-transform: uppercase;
}
.vip3
{
  color: #EE7621;
  text-transform: lowercase;
}
.khung1
{
  border: 1px solid #ff0000;
}
.khung2
{
  border: 1px solid #EE7621;
}
.khung3
{
  border: 1px solid #EE7621;
}
.khung-1
{
  border-bottom: 1px solid #ff0000;
  border-left: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
}
.khung-2
{
    border-bottom: 1px solid #EE7621;
    border-left: 1px solid #EE7621;
    border-right: 1px solid #EE7621;
}
.khung-3
{
    border-bottom: 1px solid #EE7621;
    border-left: 1px solid #EE7621;
    border-right: 1px solid #EE7621;
}
.table-gia{
    width:100%;
}
.table-gia th,td{
    padding:7px 15px;
     border:1px solid gray;
    border-collapse: collapse;
    text-align: center;
}
.table-gia th{
    background-color: #3c3c3c;
    color:#FFD700
}
.table-gia tr:nth-child(even){
   background-color: #F0F0F0;
}
.table-gia tr:hover{
    background-color: #ddd;
}